<mat-toolbar color="primary">
    <span class="fill-remaining-space">Register</span>
  </mat-toolbar>
  
  <div class="container"  novalidate> 
    <form   [formGroup]="formGroupRegister"  class="form" (ngSubmit)="Register()"> 
      <mat-form-field class="form-element">
        <input matInput placeholder="User Name" formControlName="username">
        <!-- <mat-error *ngIf="!name.valid && name.touched">
          {{ titleAlert }}
        </mat-error> -->
      </mat-form-field>   
      <mat-form-field class="form-element">
        <input matInput placeholder="Password" formControlName="pwd">
      </mat-form-field>  
      <!-- <mat-form-field class="form-element">
        <input matInput placeholder="Confirm Password" formControlName="confirmpassword">
      </mat-form-field>   -->
      <mat-form-field class="form-element">
        <input matInput placeholder="First Name" formControlName="firstname">
      </mat-form-field>  
      <mat-form-field class="form-element">
        <input matInput placeholder="Last Name" formControlName="lastname">
      </mat-form-field>  
      <mat-form-field class="form-element">
        <input matInput placeholder="Email Id" formControlName="email">
      </mat-form-field>  
      <mat-form-field class="form-element">
        <input matInput placeholder="Mobile No." formControlName="mobile">
      </mat-form-field>  
     
      <div class="form-element" style="text-align: right;">
        <button mat-raised-button color="primary">Register</button>
      </div>
  
    </form>
  </div>
  